.contact {
  border-bottom: unset;
}

.mobile_wrap {
  text-align: left;
}

.mobile_wrap a {
  position: absolute;
  top: -1rem;
}

.mobile_wrap h3 {
  color: var(--secondary-color);
}

.mobile_wrap p {
  margin-block: 1rem;
}

.mobile_wrap div p {
  display: block;
  text-align: center;
  color: var(--secondary-color);
  margin-inline: auto;
}

.form {
  gap: 1rem;
}

.form > input {
  width: 100%;
  padding: 0.8rem 1rem;
  color: var(--text-color);
  border: 1.5px solid var(--text-color);
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form > input::placeholder,
.form textarea::placeholder {
  color: var(--text-color);
  font-weight: bold;
}

.form textarea {
  height: 10rem;
  width: 100%;
  padding: 0.8rem 1rem;
  color: var(--text-color);
  border: 1.5px solid var(--text-color);
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.overlay_1 {
  width: 30rem;
  height: 30rem;
  top: -8rem;
  right: 0rem;
}

.star1 {
  position: relative;
  filter: var(--pink-filter);
  top: -4rem;
  left: 9rem;
}
.star2 {
  position: relative;
  top: 4rem;
  left: 16rem;
  opacity: 0.5;
}
.star3 {
  position: relative;
  filter: var(--purple-filter);
  bottom: 2.6rem;
}
.star4 {
  position: relative;
  bottom: 6.6rem;
  left: 17rem;
}

.getintouch {
  display: none;
}

@media screen and (width >= 768px) {
  .contact_wrap {
    flex-direction: row;
  }

  .overlay {
    position: fixed;
    width: 50rem;
    height: 50rem;
    top: 13rem;
    right: -20rem;
  }

  .overlay_1 {
    width: 60rem;
    height: 60rem;
    top: -14rem;
    right: 34rem;
  }

  .mobile_wrap {
    padding: 2.5rem;
    border-radius: 0.75rem;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .getintouch {
    /* line-height: 1.6rem; */
    display: block;
  }

  .share {
    margin-top: 2rem;
  }

  .getintouch div span {
    font-weight: bold;
    font-size: 15px;
  }

  .getintouch h2{
    margin-bottom: 1rem;
    font-size: 20px;
    color: var(--secondary-color);
  }

  .mobile_wrap h3 {
    font-size: 16px;
    margin-bottom: 0.5rem;
  }

  .form {
    margin-top: 1rem;
  }

  .nil {
    display: none;
  }

  .star1 {
    position: relative;
    filter: var(--pink-filter);
    top: -2rem;
    left: -28rem;
    width: 14px;
  }

  .star2 {
    position: relative;
    top: -4rem;
    left: 22rem;
    opacity: 0.5;
    width: 1.5rem;
  }

  .star3 {
    position: relative;
    filter: var(--purple-filter);
    bottom: 5.6rem;
    left: -4rem;
    width: 25px;
  }

  .star4 {
    position: relative;
    bottom: -2.4rem;
    left: 29rem;
    width: 1.4rem;
  }
}