.wrap {
  padding-top: 15rem;
}

.prize {
  width: calc(100% - 4rem);
  max-width: 24rem;
}

.header {
  position: absolute;
  top: -29rem;
  left: 0;
  right: 0;
  padding: 2rem;
}

@media screen and (width >= 768px ){
  .wrap {
    flex-direction: row;
    padding-top: 4rem;
  }

  .header {
    position: absolute;
    top: -9rem;
    left: 5.5rem;
    padding: unset;
  }
}
