.ideaImg {
  max-width: 264.004px;
}

.star_1 {
  position: relative;
  right: 10rem;
  top: 6rem;
  filter: invert(33%) sepia(99%) saturate(3540%) hue-rotate(271deg) brightness(101%) contrast(105%);
}

@media screen and (width < 768px) {
  .star_2 {
    width: 11px;
    position: relative;
    transform: translate(15rem, -1rem);
    filter: invert(33%) sepia(99%) saturate(3540%) hue-rotate(271deg) brightness(101%) contrast(105%);
  }
}

@media screen and (width >= 768px){
  .star_1 {
    position: relative;
    right: 10rem;
    top: 6rem;
    filter: invert(33%) sepia(99%) saturate(3540%) hue-rotate(271deg) brightness(101%) contrast(105%);
  }

  .star_2 {
    position: absolute;
    right: 2rem;
    top: 6rem;
    filter: invert(33%) sepia(99%) saturate(3540%) hue-rotate(271deg) brightness(101%) contrast(105%);
    width: 1.3rem;
  }
}