.criteria {
  margin-block: 3rem;
}

.title {
  color: var(--title-color);
  font-size: 13px;
}

.text {
  font-size: 12px;
  margin-block: 1rem;
  letter-spacing: 1px;
  line-height: 173.5%;
}

.btn {
  margin-inline: auto;
}

.star {
  position: relative;
  transform: translate(-1rem, -19rem);
  filter: invert(33%) sepia(99%) saturate(3540%) hue-rotate(271deg) brightness(101%) contrast(105%);
}

.star_1 {
  position: relative;
  transform: translate(-5rem, -23rem);
}

.star_2 {
  opacity: 0.5;
  position: relative;
  transform: translate(-1rem, -10rem);
}

.star_3 {
  width: 12px;
  position: relative;
  transform: translate(12rem, -2rem);
}

.bg {
  top: 7rem;
  left: -8rem;
  width: 25rem;
  height: 25rem;
}

.bg1 {
  bottom: 0;
  right: -10rem;
  width: 30rem;
  height: 30rem;
}

@media screen and (width >= 768px) {
  .title {
    font-size: 11px;
  }
  .text {
    max-width: 26rem;
    font-size: 10px;
  }
  .btn {
    margin-inline: unset;
  }

  .star {
    transform: translate(-5rem, -23rem);
  }

  .star_1 {
    display: none;
  }
  
  .star_2 {
    opacity: 0.5;
    position: relative;
    transform: translate(3rem, -11rem);
  }
  
  .star_3 {
    width: 12px;
    position: relative;
    transform: translate(-6rem, -1.3rem);
  }

  
  .bg {
    top: 8rem;
    left: -9rem;
    width: 40rem;
    height: 40rem;
  }

  .bg1 {
    top: 22rem;
    left: 5rem;
    width: 50rem;
    height: 50rem;
  }
}
