.img {
  max-width: 18rem;
}

.bg {
  top: -7rem;
  left: -9rem;
  width: 25rem;
  height: 25rem;
}

.bg1 {
  top: -16rem;
  right: -10rem;
  width: 30rem;
  height: 30rem;
}

@media screen and (width < 768px) {
  .star {
    position: relative;
    top: -12rem;
    right: 9rem;
  }

  .star1 {
    position: relative;
    transform: translate(14rem, -22rem);
    width: 12px;
    opacity: 0.5;
  }
}

@media screen and (width >= 768px) {
  .img {
    max-width: 25rem;
  }

  .star {
    position: relative;
    transform: translate(-15rem, -4rem);
    width: 1.5rem;
  }
  
  .star1 {
    position: relative;
    top: -16rem;
    left: 13rem;
    width: 1rem;
    opacity: 0.5;
  }

  .bg {
    top: -4rem;
    left: -4rem;
    width: 40rem;
    height: 40rem;
  }

  .bg1 {
    top: 7rem;
    left: 45rem;
    width: 40rem;
    height: 40rem;
  }
}
